@model List<Dish>
<div class="jumbotron">
    <h1>Here are our world class dishes 5 michellin stars and all that</h1>
    <a asp-action="NewDish">New Dish</a>
    <p><a asp-action="Index">Home</a></p>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
        <tbody>
            <tr>
                <td>@d.Name</td>
                <td>@d.Creator.FirstName @d.Creator.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
        </tbody>
        }
    </table>
</div>