@model Transaction


    <div class="row justify-content-around">
        <h1 class="mx-auto">Welcome @ViewBag.User.FirstName</h1>
        <div class="Card col-5 mx-auto">
        <p>Balance: @ViewBag.Balance</p>
    </div>
    
    <form class="col-3 mx-auto" asp-action="Process" asp-controller="Bank" method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input type="number" class="form-control" asp-for="Amount">
        </div>
        <button type="submit" class="btn btn-dark">Submit Transaction</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.User.MyTransactions)
        {
            <tr>
                <td>@t.Amount</td>
                <td>@t.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
